[submodule "06_Flask_SQLAlchemy_DataModelling/lab/01_fyyur_starter"]
	path = 06_Flask_SQLAlchemy_DataModelling/lab/01_fyyur_starter
	url = https://github.com/udacity/cd0046-SQL-and-Data-Modeling-for-the-Web.git
